menu "Tracker"

config TRACKER_LOG_LEVEL
	int "Log level"
	default 3
	range 0 4

config TRACKER_POST_INTERVAL_S
	int "MQTT publish interval in seconds"
	default 10
	range 1 3600

config TRACKER_MQTT_BROKER_HOST
	string "MQTT broker hostname or IP"
	default "test.mosquitto.org"

config TRACKER_MQTT_BROKER_PORT
	int "MQTT broker port"
	default 1883
	range 1 65535

config TRACKER_MQTT_CLIENT_ID
	string "MQTT client ID"
	default "nrf9151-tracker"

config TRACKER_MQTT_TOPIC
	string "MQTT publish topic"
	default "tracker/location"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
